* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    background-color: darkslategray;
    text-decoration: none;
    overflow: hidden;
}

.navbar ul {
    position: center;
}
.navbar ul li {
    list-style-type: none;
    display: inline;
}

.navbar ul li a {
    font-family: monospace;
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 10px 25px 10px 25px;;
}

.navbar ul li a:hover {
    background-color: black;
}